* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background: linear-gradient(-85deg, #0f2027, #203a43, #2c5364);
}

i,
svg {
  pointer-events: none;
}

h1 {
  color: whitesmoke;
}
.kick-pad,
.tom-pad,
.perc-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 1.5rem;
  cursor: pointer;
}

.kick-pad {
  background: rgba(230, 57, 71, 0.493);
}

.tom-pad {
  background: rgba(238, 155, 0, 0.699);
}

.perc-pad {
  background: rgba(72, 12, 168, 0.589);
}
.kick-pad.active {
  background: rgb(230, 57, 71);
}

.tom-pad.active {
  background: rgb(238, 155, 0);
}

.perc-pad.active {
  background: rgb(72, 12, 168);
}

.sequencer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.kick-track,
.tom-track,
.perc-track {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
  margin-top: 2rem;
}

.kick,
.tom,
.perc {
  display: flex;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem -12rem;
}
.controls button {
  padding: 1rem;
  margin: 2rem 2rem;
  border: none;
  background: rgb(88, 88, 88);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.pad {
  transition: all 0.5s ease;
}

.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background: rgb(222, 128, 12);
  color: white;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
  margin-top: 3rem;
}

select {
  padding: 1rem 1rem;
  font-size: 1rem;
  margin: 2rem 2rem;
}

.mute.active {
  background: rgb(182, 182, 182);
}

.tempo {
  margin: 3rem;
  width: 30%;
}
.tempo-slider {
  padding: 0.2rem;
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  background: rgb(88, 88, 88);
  cursor: pointer;
  border-radius: 1rem;
}
.tempo p {
  font-size: 1.5rem;
  margin: 2rem;
  text-align: center;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

/* Model Styling */
.list {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2.5rem;
}
.show-modal {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  border: none;
  background-color: #fff;
  color: #444;
  border-radius: 10rem;
  cursor: pointer;
  position: absolute;
  left: 2%;
  top: 90%;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: rgb(40, 40, 40);
  cursor: pointer;
  border: none;
  background: none;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

p {
  font-size: 1.8rem;
}

/* -------------------------- */
/* CLASSES TO MAKE MODAL WORK */
.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  background-image: linear-gradient(
    -85deg,
    hsla(148, 89%, 78%, 1) 0%,
    hsla(210, 81%, 22%, 1) 100%
  );
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
